.scryfall-form-container {
  display: block;
  height: 100%;
}

.scryfall-form {
  display: flex;
  justify-content: center;
}
.scryfall-header {
  text-align: center;
}

.scryfall-form > input {
  margin-top: 2rem;
  padding: 1rem;
  border-width: 0.1rem;
  border-radius: 2rem 0 0 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-width: 0px;
  font-weight: bold;
  width: 15.94rem;
  background-color: #e8e8e8;
}

.scryfall-form > button {
  margin-top: 2rem;
  padding: 0.75rem;
  border-radius: 0 2rem 2rem 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-width: 0px;
  background-color: #9fbfdf;
  font-weight: bold;
  width: 5.31rem;
}

.scryfall-form > button:hover {
  cursor: pointer;
}

.scryfall-form > input:focus {
  outline: none;
}

img,
.card-body {
  max-width: 21.25rem;
  margin: 0 auto;
  margin-bottom: 0.9rem;
  border-radius: 0.9rem;
}

.cardButton {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 15.93rem;
  padding: 0.5rem;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-width: 0px;
  background-color: #9fbfdf;
  font-weight: bold;
}

.card-results-container {
  display: block;
  text-align: center;
  justify-content: center;
}
