* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
}

.container {
  background: white;
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(10px, 1fr) minmax(10px, 3fr);
  grid-template-rows: min-content min-content 1fr min-content;
  gap: 2px;
  text-align: center;
}

.formInput {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

form > h1 {
text-align: center;
}

.formInput > button {
  width: 100px;
  margin: 1.5rem;
}

input {
  padding: 10px;
  margin: 10px 0 0 10px;
  border: solid 1px black;
  border-radius: 5px;
}

button {
  margin: .5rem;
  padding: .25rem;
}

header {
  grid-column: 1 / -1;
  text-align: center;
  border: 1px solid #000;
  background: #ffcdd2;
}

nav {
  grid-column: 2 / 3;
  background: #bbdefb;
  border: 1px solid #000;
}

ul {
  list-style-type: none;
}

aside {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  background: #e1bee7;
  border: 1px solid #000;
  padding: .25rem;
}

article {
  grid-column: 2 / 3;
  background: #dcedc8;
  border: 1px solid #000;
  padding: 5px;
}

.styled-table {
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #000;
  color: #ffffff;
  text-align: center;
}

.styled-table th,
.styled-table td {

    padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

footer {
  grid-column: 1 / -1;
  background: #ffecb3;
  border: 1px solid #000;
  padding: 5px;
}

