* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
}

.container {
  background: white;
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(10px, 1fr) minmax(10px, 3fr);
  grid-template-rows: min-content min-content 1fr min-content;
  gap: 2px;
  text-align: center;
}

header {
  grid-column: 1 / -1;
  text-align: center;
  border: 1px solid #000;
  background: #ffcdd2;
}

nav {
  grid-column: 2 / 3;
  background: #bbdefb;
  border: 1px solid #000;
}

ul {
  list-style-type: none;
}

aside {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  background: #e1bee7;
  border: 1px solid #000;
}
article {
  grid-column: 2 / 3;
  background: #dcedc8;
  border: 1px solid #000;
  padding: 5px;
}
footer {
  grid-column: 1 / -1;
  background: #ffecb3;
  border: 1px solid #000;
  padding: 5px;
}
